body {
    background-color: rgb(37, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1 {
    color: rgb(176, 108, 207);
}
mark {
    color: black;
    background-color: rgb(15, 151, 129);
}
h2 {
    color: rgb(31, 27, 27);
    background: rgb(129, 126, 121);
}
h3 {
    color: rgb(31, 27, 27);
    background-color: rgb(129, 126, 121);
}