body {
    background-color: #352f2f;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-align: justify;
}
h1 {
    background-color: #d7eafa9a;
    border-radius: 3px;
    margin: 30px;
    padding: 20px;
    color: #ebc5b6d7;
}